<br>
<div class="container border m-2"><%= @title %></div>
<div class="container border m-2"><%= @content %></div>
<a href="/memos/<%= @memo_id %>/edit"><button class="btn btn-primary m-2">変更</button></a>
<form method="post" action="/memos/del">
  <input type="hidden" name="id" value="<%= @memo_id %>">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-primary m-2">削除</button>
</form>
<a href="/memo-top"><button class="btn btn-primary m-2">戻る</button></a>
